<!-- header.component.html -->
<div class="header">
    <div class="headerLeft">
      <a routerLink="/"><img class="header__icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/2560px-IMDB_Logo_2016.svg.png" /></a>
      <a routerLink="/movies/popular" style="text-decoration: none;"><span>Popular</span></a>
      <a routerLink="/movies/top_rated" style="text-decoration: none;"><span>Top Rated</span></a>
      <a routerLink="/movies/upcoming" style="text-decoration: none;"><span>Upcoming</span></a>
    </div>
  </div>
  